.header {
    position: fixed;
    z-index: 9999;
}

.header--container {
    width: var(--left-panel-width);
    height: 84px;
    background-color: #7025FB;
    display: flex;
    align-items: center;
}

.header--container img {
    height: 18px;
    margin-left: 60px;
}

.header--container h1 {
    margin-left: 8px;
    color: #FFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
}